{{>layout/header}}

<form method="post" action="/logins" modelAttribute="sessionUser">
    <div class="container">
        <h1>로그인</h1>
        <div class="form-group">
            <label for="email">userEmail</label>
            <input type="text" class="form-control" id="email" name="email" value="{{#sessionUser}}{{sessionUser.email}}{{/sessionUser}}sessionUser}}"  placeholder="사용자 이메일" >
            {{#valid_email}} <span id="valid">{{valid_email}}</span> {{/valid_email}}
        </div>
        <div class="form-group">
            <label for="password">password</label>
            <input type="password" class="form-control" id="password" name="password" value="{{#sessionUser}}{{sessionUser.password}}{{/sessionUser}}" placeholder="사용자 비밀번호">
            {{#valid_password}} <span id="valid">{{valid_password}}</span> {{/valid_password}}
        </div>

        <button type="submit" class="btn btn-primary">로그인</button>
    </div>
</form>
{{>layout/footer}}